upstream phoenix_upstream {
    server 127.0.0.1:4008;
}

server {
    listen  443 ssl;
    server_name {{ dotfiles.dan.domain_name }};
    ssl_certificate /usr/local/etc/nginx/ssl/ssl_certificate.cer;
    ssl_certificate_key /usr/local/etc/nginx/ssl/{{ dotfiles.dan.domain_name }}.key;
    location / {
        proxy_redirect off;
        proxy_pass http://phoenix_upstream;

    }

    location /socket/websocket {
        proxy_pass http://localhost:4008;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_read_timeout 86400;
    }
}
